TGPROOVL_TELEGRAM_TOKEN=
TGPROOVL_LOGLEVEL=DEBUG
TGPROOVL_URL_PATH_PREFIX=/tgproovl/
TGPROOVL_URL_HOST=bot.example.com
TGPROOVL_CONFIG=tgproovl.config.MainConfig
TGPROOVL_SECRET_KEY=
TGPROOVL_BOT_PASSWORD=
TGPROOVL_PROOVL_API_PREFIX=https://www.proovl.com/api/
TGPROOVL_PROOVL_USER=
TGPROOVL_PROOVL_TOKEN=
TGPROOVL_TELEGRAM_DEVELOPER=
TGPROOVL_TELEGRAM_OWNER=
TGPROOVL_TELEGRAM_API_ID=
TGPROOVL_TELEGRAM_API_HASH=
TGPROOVL_TELEGRAM_PHONE=
TGPROOVL_SMS_HALF_TIMEOUT=900
TGPROOVL_CHAT_HALF_TIMEOUT=3600
TGPROOVL_TDLIB_PATH=/usr/lib/libtdjson.so.1.5.1
TGPROOVL_TDLIB_ENCRYPTION_KEY=
TGPROOVL_TDLIB_FILES_DIRECTORY=
TGPROOVL_PERSISTENCE_PATH=/mnt/tgproovl.state
