TGPROOVL_TELEGRAM_TOKEN=
TGPROOVL_URL_PATH_PREFIX=/tgproovl/
TGPROOVL_URL_HOST=bot.example.com
TGPROOVL_CONFIG=config.MainConfig
TGPROOVL_SECRET_KEY=gJRZ*}eC&h7x5nc>
TGPROOVL_BOT_PASSWORD=gJRZ*}eC&h7x5nc>
TGPROOVL_PROOVL_USER=gJRZ*}eC&h7x5nc>
TGPROOVL_PROOVL_TOKEN=gJRZ*}eC&h7x5nc>
TGPROOVL_TELEGRAM_CLI_HOST=127.0.0.1
TGPROOVL_TELEGRAM_CLI_PORT=2391
TGPROOVL_TELEGRAM_DEVELOPER=
TGPROOVL_TELEGRAM_OWNER=
TGPROOVL_TELEGRAM_API_ID=
TGPROOVL_TELEGRAM_API_HASH=
TGPROOVL_TELEGRAM_PHONE=

TGPROOVL_SMS_HALF_TIMEOUT=900
TGPROOVL_CHAT_HALF_TIMEOUT=3600
